@model ProjektMVC.Models.Borrow

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reader.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borrowState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrowState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actualReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actualReturnDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.borrowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
