@model ProjektMVC.Models.Queue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Queue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reader.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.queueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
