@model IEnumerable<ProjektMVC.Models.Queue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reader.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reader.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.queueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.queueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.queueID })
        </td>
    </tr>
}

</table>
