@model IEnumerable<ProjektMVC.Models.BookFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag.filename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.filename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bookFileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.bookFileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bookFileID })
        </td>
    </tr>
}

</table>
